.blockSearch {
    text-align: center;
}

input {
    width: 75%;
    margin: auto;
}

.filterBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

  .colorElt {
      color: rgb(255, 208, 1);
  }
