<div class="filterBar m-3">

    <div class="btn-group m-3">
        <button type="button" class="btn btn-default btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Genre <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
           <li><a href="#" title="Lien 1">Lien 1</a></li>
           <li><a href="#" title="Lien 2">Lien 2</a></li>
           <li><a href="#" title="Lien 3">Lien 3</a></li>
           <li><a href="#" title="Lien 4">Lien 4></a></li>
        </ul>
      </div>

      <div class="btn-group m-3">
        <button type="button" class="btn btn-default btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Année <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
           <li><a href="#" title="Lien 1">Lien 1</a></li>
           <li><a href="#" title="Lien 2">Lien 2</a></li>
           <li><a href="#" title="Lien 3">Lien 3</a></li>
           <li><a href="#" title="Lien 4">Lien 4></a></li>
        </ul>
      </div>

  <button type="button2" class="btn btn-warning m-3">Les mieux notés</button>
  <button type="button2" class="btn btn-warning m-3">les nouvelles sorties</button>
  

</div>
