<div classe="bandeau-titre">
  <h2>Ma Bibliothèque</h2>
</div>

<div class="block-ajout-recherche">
  <button routerLink="/edition-oeuvre">Ajouter une oeuvre</button>
  <app-searchbar></app-searchbar>
</div>

<div class="row pb-5">
  <div *ngFor="let oeuvre of oeuvreService.oeuvres$ | async" class="col-6 col-lg-3 col-xl-2">
    <!-- CARD-->
    <!-- Lien navigation vers la page détail -->
    <div [routerLink]="['details']" class="card">
      <div class="blockImg">
        <img [src]="getUrlAffiche(oeuvre.urlAffiche)" alt="" />
      </div>

      <div class="card-body">
        <h2>{{ oeuvre.titre | titlecase }}</h2>

        <ul>
          <li><strong>Type   : </strong>{{ oeuvre.typeOeuvre | titlecase }} </li>
          <li><strong>Genre  : </strong><span *ngFor="let genre of oeuvre.genres">{{ genre.libelle | titlecase }} </span></li>
          <li><strong>Statut : </strong><span *ngIf="oeuvre.statutVisionnage">{{ oeuvre.statutVisionnage.libelle }}</span></li>
          <li><strong>Note   : </strong>{{ oeuvre.note }}</li>
        </ul>
      </div>

      <!-- FIN CARD-->
    </div>
  </div>
</div>

<!-- BAR BUTTON "Films suivants" -->
<div class="next-movies">
  <button (click)="oeuvresSuivantesActionBouton()" class="button btn btn-light">
    Oeuvres suivantes
  </button>
</div>
