
<div class="blockSelectButton m-3">
  <button type="button" class="btn btn-warning btn-lg m-2">Films</button>
  <button type="button" class="btn btn-light btn-lg m-2">Séries</button>
</div>
<!-- <app-searchbar> -->
<!-- <app-filterbar> -->
<app-searchbar></app-searchbar>
<app-filterbar></app-filterbar>

<div class="row pb-5">
    

    <div class="col-6 col-lg-3 col-xl-2">
        <!-- CARD-->
        <div [routerLink]="['details']" class="card">

            <div class="blockImg">
               <img src="assets\lesbeauxjours.jpg" alt="">
            </div>

            <div class="card-body">
                <h2>Les Beaux Jours</h2>  

                <ul>
                    <li><strong>Statut</strong> : non vu</li>
                    <li><strong>Genre</strong> : Science-Fiction</li>
                    <li><strong>Année</strong> : 2007</li>
                </ul>
            </div>

            
        </div>
        <!-- FIN CARD-->
    </div>

    <div class="col-6 col-lg-3 col-xl-2">
        <!-- CARD-->
        <div [routerLink]="['details']" class="card">

            <div class="blockImg">
               <img src="assets\lesbeauxjours.jpg" alt="">
            </div>

            <div class="card-body">
                <h2>Les Beaux Jours</h2>  

                <ul>
                    <li><strong>Statut</strong> : non vu</li>
                    <li><strong>Genre</strong> : Science-Fiction</li>
                    <li><strong>Année</strong> : 2007</li>
                </ul>
            </div>

            
        </div>
        <!-- FIN CARD-->
    </div>

    <div class="col-6 col-lg-3 col-xl-2">
        <!-- CARD-->
        <div [routerLink]="['details']" class="card">

            <div class="blockImg">
               <img src="assets\lesbeauxjours.jpg" alt="">
            </div>

            <div class="card-body">
                <h2>Les Beaux Jours</h2>  

                <ul>
                    <li><strong>Statut</strong> : non vu</li>
                    <li><strong>Genre</strong> : Science-Fiction</li>
                    <li><strong>Année</strong> : 2007</li>
                </ul>
            </div>

            
        </div>
        <!-- FIN CARD-->
    </div>

    <div class="col-6 col-lg-3 col-xl-2">
        <!-- CARD-->
        <div [routerLink]="['details']" class="card">

            <div class="blockImg">
               <img src="assets\lesbeauxjours.jpg" alt="">
            </div>

            <div class="card-body">
                <h2>Les Beaux Jours</h2>  

                <ul>
                    <li><strong>Statut</strong> : non vu</li>
                    <li><strong>Genre</strong> : Science-Fiction</li>
                    <li><strong>Année</strong> : 2007</li>
                </ul>
            </div>

            
        </div>
        <!-- FIN CARD-->
    </div>

    <div class="col-6 col-lg-3 col-xl-2">
        <!-- CARD-->
        <div [routerLink]="['details']" class="card">

            <div class="blockImg">
               <img src="assets\lesbeauxjours.jpg" alt="">
            </div>

            <div class="card-body">
                <h2>Les Beaux Jours</h2>  

                <ul>
                    <li><strong>Statut</strong> : non vu</li>
                    <li><strong>Genre</strong> : Science-Fiction</li>
                    <li><strong>Année</strong> : 2007</li>
                </ul>
            </div>

            
        </div>
        <!-- FIN CARD-->
    </div>

    <div class="col-6 col-lg-3 col-xl-2">
        <!-- CARD-->
        <div [routerLink]="['details']" class="card">

            <div class="blockImg">
               <img src="assets\lesbeauxjours.jpg" alt="">
            </div>

            <div class="card-body">
                <h2>Les Beaux Jours</h2>  

                <ul>
                    <li><strong>Statut</strong> : non vu</li>
                    <li><strong>Genre</strong> : Science-Fiction</li>
                    <li><strong>Année</strong> : 2007</li>
                </ul>
            </div>

            
        </div>
        <!-- FIN CARD-->
    </div>

    <div class="col-6 col-lg-3 col-xl-2">
        <!-- CARD-->
        <div [routerLink]="['details']" class="card">

            <div class="blockImg">
               <img src="assets\lesbeauxjours.jpg" alt="">
            </div>

            <div class="card-body">
                <h2>Les Beaux Jours</h2>  

                <ul>
                    <li><strong>Statut</strong> : non vu</li>
                    <li><strong>Genre</strong> : Science-Fiction</li>
                    <li><strong>Année</strong> : 2007</li>
                </ul>
            </div>

            
        </div>
        <!-- FIN CARD-->
    </div>

    <div class="col-6 col-lg-3 col-xl-2">
        <!-- CARD-->
        <div [routerLink]="['details']" class="card">

            <div class="blockImg">
               <img src="assets\lesbeauxjours.jpg" alt="">
            </div>

            <div class="card-body">
                <h2>Les Beaux Jours</h2>  

                <ul>
                    <li><strong>Statut</strong> : non vu</li>
                    <li><strong>Genre</strong> : Science-Fiction</li>
                    <li><strong>Année</strong> : 2007</li>
                </ul>
            </div>

            
        </div>
        <!-- FIN CARD-->
    </div>

    <div class="col-6 col-lg-3 col-xl-2">
        <!-- CARD-->
        <div [routerLink]="['details']" class="card">

            <div class="blockImg">
               <img src="assets\lesbeauxjours.jpg" alt="">
            </div>

            <div class="card-body">
                <h2>Les Beaux Jours</h2>  

                <ul>
                    <li><strong>Statut</strong> : non vu</li>
                    <li><strong>Genre</strong> : Science-Fiction</li>
                    <li><strong>Année</strong> : 2007</li>
                </ul>
            </div>

            
        </div>
        <!-- FIN CARD-->
    </div>

    <div class="col-6 col-lg-3 col-xl-2">
        <!-- CARD-->
        <div [routerLink]="['details']" class="card">

            <div class="blockImg">
               <img src="assets\lesbeauxjours.jpg" alt="">
            </div>

            <div class="card-body">
                <h2>Les Beaux Jours</h2>  

                <ul>
                    <li><strong>Statut</strong> : non vu</li>
                    <li><strong>Genre</strong> : Science-Fiction</li>
                    <li><strong>Année</strong> : 2007</li>
                </ul>
            </div>

            
        </div>
        <!-- FIN CARD-->
    </div>

    <div class="col-6 col-lg-3 col-xl-2">
        <!-- CARD-->
        <div [routerLink]="['details']" class="card">

            <div class="blockImg">
               <img src="assets\lesbeauxjours.jpg" alt="">
            </div>

            <div class="card-body">
                <h2>Les Beaux Jours</h2>  

                <ul>
                    <li><strong>Statut</strong> : non vu</li>
                    <li><strong>Genre</strong> : Science-Fiction</li>
                    <li><strong>Année</strong> : 2007</li>
                </ul>
            </div>

            
        </div>
        <!-- FIN CARD-->
    </div>

    <div class="col-6 col-lg-3 col-xl-2">
        <!-- CARD-->
        <div [routerLink]="['details']" class="card">

            <div class="blockImg">
               <img src="assets\lesbeauxjours.jpg" alt="">
            </div>

            <div class="card-body">
                <h2>Les Beaux Jours</h2>  

                <ul>
                    <li><strong>Statut</strong> : non vu</li>
                    <li><strong>Genre</strong> : Science-Fiction</li>
                    <li><strong>Année</strong> : 2007</li>
                </ul>
            </div>

            
        </div>
        <!-- FIN CARD-->
    </div>

</div>

<!-- BAR BUTTON "Films suivants" -->
<div class="next-movies">
    <button class="button btn btn-light">Films suivants</button>
    
</div>