<!-- <pre>{{ movieVideo | json }}</pre> -->
<div class="row">

    <!-- Informations film -->
    <div class="col-12 col-md-6">
        <div class="m-5">

            <div class="d-flex mb-5">
                <button routerLink="/" class="btn btn-warning me-3">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <h1>Les Beaux Jours</h1>
            </div>


            <p>Résumé: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat commodi at facilis? Libero sed quam vero corrupti officia! Quae voluptas nobis voluptate obcaecati harum eum incidunt hic aperiam deleniti distinctio.</p>
            <p>Date de sortie: 12/04/2007</p>
            <p>Genre :Science-Fiction</p>
        </div>
    </div>

    <!-- video B.A-->
    <div class="col-12 col-md-6">
        <div class="blockImg m-5">
            <img src="assets\lesbeauxjours.jpg" alt="">



        </div>
    </div>
</div>
