
<div class="row" *ngIf="oeuvreService.oeuvreDetail$ | async as oeuvreDetail ">

    <!-- Informations de l'oeuvre -->
    <div class="col-12 col-md-6">
        <div class="m-5" >

            <div class="d-flex mb-5">
                <button routerLink="/" class="btn btn-warning me-3">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <h1>{{oeuvreDetail.titre | titlecase}}</h1>
            </div>


            <H2><i>{{oeuvreDetail.typeOeuvre | titlecase}}</i></H2>
            <p><strong>Genre  : </strong><span *ngFor="let genre of oeuvreDetail.genres">{{ genre.libelle | titlecase }}. </span></p>
            <p><strong>Statut  : </strong>{{oeuvreDetail.statutVisionnage.libelle | titlecase}}</p>
            <p><strong>Note  : </strong>{{oeuvreDetail.note }}</p>
            <p><strong>Créateurs  : </strong>{{oeuvreDetail.createurs}}</p>
            <p><strong>Acteurs  : </strong>{{oeuvreDetail.acteurs}}</p>

          
        </div>
    </div>

    <!-- Affiche-->
    <div class="col-12 col-md-6">
        <div class="blockImg m-5">
            <img [src]="getUrlAffiche(oeuvreDetail.urlAffiche)" alt="">



        </div>
    </div>
</div>